---
# I need front matter
---

.post-title {
  margin: 0;
  margin-bottom: 0.5em;
}
.post-date {
  font-size: 90%;
}
.blog-title {
  font-size: 1.5em;
}
@import "syntax-highlighting";

// from bootstrap
code, pre {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}
