---
# I need front matter
---

.post-title {
  margin: 0;
  margin-bottom: 0.5em;
}
.post-date {
  font-size: 90%;
}
.blog-title {
  font-size: 1.5em;
}
@import "syntax-highlighting";

// from bootstrap
code, pre {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}
#系統錯誤.supports-transform {
  margin-left:-1.5em;
  margin-right:-1.5em;
}
#系統錯誤 span {
  color: red;
}
#系統錯誤 {
  color: blue;
}
