<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset='utf8'>
  <link rel="stylesheet" href="/css/homepage.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
  <title>{{page.title }}</title>
  <script src='/js/perlin.js'></script>
</head>
<body>
<header>
  <h1 class='post-title'>{{page.title }}</h1>{% if page.date != null %}
  <span>{{page.date | date: "%Y 年 %-m 月 %-d 日" }}</span>{% endif %}
</header>
<hr>
{{content }}
{% if page.issue %}
<p><a href='https://github.com/stdio2016/blog/issues/{% page.issue %}'>來寫個評論吧</a></p>
{% endif %}
<hr>
<nav>
  <a href='/'>回首頁</a>
  {% if page.path != "index.md" %}<span  style='padding-left:30px;'></span><a href='/blog'>尋找文章</a>{% endif %}
</nav>
<footer id=di>&copy; 2016~2018 stdio2016 版權ㄙㄨㄛˇ有
</footer>
</body>
</html>
